@model MVC5Course.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
       
        @*
        搜尋順序
                1. Controller 資料夾下的 DisplayTemplates
                2. Shared 資料夾下的 DisplayTemplates
                3. 系統預設
        *@

        @* 預設抓與 Model 同名的 DisplayTemplates *@
        @*@Html.DisplayForModel()*@

        @Html.DisplayForModel("Client.v2")

        @*
    顯示該客戶的所有訂單資料
    笨方法：在Client內建立資料，並在此用foreach顯示
    好方法：修改Orders的Index，傳入ClientId作篩選，並用@Html.Action將資料回傳，回傳為PartialView，因為不需要主版
        *@

        Client's Order List

        @*@Html.Action("Index", "Orders", new { clientID = @Model.ClientId })*@

        @* 跳過控制器，直接將該Client的Order丟到OrderList裡面，並回傳無主版的View *@
        @Html.Partial("OrderList",Model.Order.ToList())

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
